*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #075755;

}
.float-button{
    background-color: #FF8539; 
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px;
    position: fixed;

    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.box{
    height: 100px;
}
header{
    height: 100px;
    position: fixed;
    overflow: hidden;
   
    display: inline-flex;
}
nav{
    display: inline-flex;
    float: left;
    
}

img{
    width:100px;
    
    height: 100px;
}
nav a{
    display: inline;
    text-decoration: none;
    color:white;

    padding-top: 40px;
}

nav a:hover{
    color:#FF8539;
}

nav a:active{
    color:#FF8539;
}
nav ul{
    display: inline-flex;
    padding-top: 40px;
}
span{
    color:#FF8539;
}
#home,
#service,
#contact,
#gallery,
#about{
    height: 640px;

    margin-left:20px;
}

h1,h2,h3,p{
    color: white;
}
.content{
    display: inline;
    
    margin-top: 300px;
}

.content img{
    width:300px;
    float:center;
    display: flex;

    justify-content: center;
    float: left;
   height: 300px;
}

.content button{
    background-color:#FF8539;
    width: 150px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    height: 50px;
    color:white;

    font-family: mono;
}

.content h1{
    font-size: 30px;
}

.content h3{
    font-size: 30px;
}

.content h2{
    font-size:50px;
}

.content p{
    line-height: 25px;

    font-family: irian serif;
}


.about img{
    width:300px;
    float:center;
    display: flex;
    
    justify-content: center;
    float: left;
   height: 300px;
}


.about h1{
    font-size: 30px;
}

.about h3{
    font-size: 25px;
    
    display: block;
}

.about{
    display: inline;
}

.about p{
    line-height: 20px;
    font-family: sans-serif;
    font-size: 20px;
}





.services{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-reverse;
}
.services h1{
    font-size:30px;
}
.service{
    width: 500px;
}
.service img{
    width: 100px;

    height: 100px;
}
button{
    background-color:#FF8539;
    width: 150px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    height: 50px;
    color:white;
    margin-top: 20px;
    font-family: mono;
}

button a{
    color: white;

    background-color:#FF8539;
}

.project{
    height: 700px;
    flex-wrap: wrap;
    display: flex;
}
.item{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    height: 200px;
    width: 200px;

    position: relative;
}
.con{
    border-top-right-radius: 20px;
    width:150px;
    position: absolute;
    text-align: center;
    bottom: 0;
    transition: 0.5s ease;
    padding: 10px;   
    background-color: #FF8539;
    opacity: 0;
}

.item:hover .con{
    opacity: 1;
}
.item img{
    width: 150px;
    display: block;
    height: 200px;
}
.item:hover{
    opacity: 1;
}




form{
    width: 100%;
    display: block;
    height: 50%;
}

form input{
    height: 50px;
    font-size: 15px;
    padding:20px;
}

.form{
    margin-top: 100px;
}
